@import "tailwindcss";

:root {
  --background: #ebedf3;

  --bvnk-primary: #3f53dd;
  --bvnk-black: #0a1628;
  --bvnk-gray: #556877;
  --bvnk-danger: #ff785f;
}

@theme {
  --color-bvnk-primary: var(--bvnk-primary);
  --color-bvnk-black: var(--bvnk-black);
  --color-bvnk-gray: var(--bvnk-gray);
  --color-bvnk-danger: var(--bvnk-danger);
}

html {
  font-size: 14px;
}

body {
  background: var(--background);
  color: var(--bvnk-black);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.5;
  color: var(--bvnk-gray);
}
